@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgrond: #000;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --button: #8257E5;
    --text-color: #FFF;
    --text-color-menu-mobile: #E1E1E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Manrope;
}

body {
    background-color: var(--backgrond);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.media-mobile {
    display: none;
}

.header-desktop {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    left: 50%;
    margin-left: 70px;
    margin-top: 50px;
    position: relative;
    top: 0;
    transform: translateX(-50%);
    width: 70%;
}

.header-desktop nav {
    display: flex;
    gap: 32px;
}

.header-desktop nav a {
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-desktop nav a:hover {
    border-bottom: 2px solid var(--button);
}

.header-desktop button {
    background: transparent;
    border: 1px solid var(--button);
    border-radius: 6px;
    color: var(--text-color);
    font-weight: bold;
    padding: 11px 38px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.header-desktop button:hover {
    background-color: var(--button);
}

.title {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title #title-1 {
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: -2.4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title #title-2 {
    font-weight: 700;
    letter-spacing: -2.4px;
    text-shadow: 2px 0 #8257E5, -2px 0 #8257E5, 0 2px #8257E5, 0 -2px #8257E5,
        1px 1px #8257E5, -1px -1px #8257E5, 1px -1px #8257E5, -1px 1px #8257E5;
    ;
}

.img-coffe {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.img-coffe img {
    display: flex;
    height: 30rem;
}

.blur-1 {
    display: flex;
    bottom: 0;
    height: 700px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.blur-2 {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* Responsividade */

@media screen and (max-width: 1024px) {
    .media-desktop {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }

    .media-mobile {
        display: block;
    }

    .header-mobile {
        border-bottom: 1px solid #29292E;
        display: flex;
        justify-content: space-between;
        padding: 30px 25px;
    }

    .title-header {
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.6px;
        margin-top: 75px;
        padding: 0 50px;
    }

    .header-mobile button {
        cursor: pointer;
        background: transparent;
        border: none;
    }

    .btnCoffeMobile {
        display: flex;
        justify-content: center;
        margin: 60px 0;
    }

    .btnCoffeMobile button {
        background: transparent;
        border: 1px solid var(--button);
        border-radius: 6px;
        color: var(--text-color);
        font-weight: bold;
        padding: 11px 38px;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    .btnCoffeMobile button:hover {
        background-color: var(--button);
    }

    .title-mobile {
        display: block;
        text-align: center;
        font-size: 25px;
    }

    .title-mobile #title-1 {
        color: var(--text-color);
        font-weight: 700;
        letter-spacing: -2.4px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .title-mobile #title-2 {
        font-weight: 700;
        letter-spacing: -2.4px;
        text-shadow: 2px 0 #8257E5, -2px 0 #8257E5, 0 2px #8257E5, 0 -2px #8257E5,
            1px 1px #8257E5, -1px -1px #8257E5, 1px -1px #8257E5, -1px 1px #8257E5;
    }

    .img-coffe-mobile {
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

    .img-coffe-mobile img {
        width: 100%;
    }


    .blur-mobile {
        position: relative;
    }

    .blur-mobile img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    /* MANU SCREEN */

    .menu-mobile {
        display: none;
    }

    .menu-mobile button{
        cursor: pointer;
    }

    .nav-menu a {
        display: flex;
        padding: 18px 0 14px 25px;
        color: white;
        border-bottom: 1px solid #29292E;
        text-decoration: none;
        border-left: 5px solid transparent;
    }

    .nav-menu a:hover{
        border-left: 5px solid#8257E5;
    }
}